#uns dos primeiros arquivos a serem criados
.venv
#ignorar arquivos python compilado
__pycache__/
*.pyc
#ignorar arquivos de ambiente "env"
.env


# Assim o Git não vai tentar salvar caminhos quebrados no repositório.
venv/
