{% extends 'base.html' %}
{% block base %}
{% include 'back_inicio_cadastro.html' %}
<div class="container mt-5" style="max-width: 500px;">
  <h3>Atualizar Cadastro</h3>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.nome.label(class="form-label") }}
      {{ form.nome(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.sobrenome.label(class="form-label") }}
      {{ form.sobrenome(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.senha.label(class="form-label") }}
      {{ form.senha(class="form-control", placeholder="Deixe em branco para não alterar") }}
    </div>

    <div class="mb-3">
      {{ form.confirmar_senha.label(class="form-label") }}
      {{ form.confirmar_senha(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>

  </form>
</div>
{% endblock %}
