{%extends 'base.html' %}

{%block content%}

    <div class="container bg-info p-4 rounded mt-4">
    <h3 class="mb-4">Lista contatos - Salvando e returnando no banco de dados</h3>
    <div>
      <form  method="get" class="row">
        <div class="col-9">
          <input type="text" name="pesquisa" class="form-control">
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary">Pesquisa</button>
        </div>
        
        <div>
          {%include 'nav.html'%}
        </div>
      </form>

    </div>

    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>  
              Nome:
            </th>
            <th>
              Email:
            </th>
            <th>
              Assunto:
            </th>
            <th>Respondido:</th>
            <th>
              Mais:
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- não é recomendao, pois, trabalhar com muitos linhas dariam muito trabalho, sem contar que se voce coloca um digito e ele nao existir dará um erro -->
           <!-- toda as vezes que formos utilizar um for,if no html devemos declarar seu inicio e o fim. -->
           {% for linha in context['dados']%}
          <tr>
            <td>
              {{linha.nome}}
            </td>
            <td>
              {{linha.email}}
            </td>
            <td>
              {{linha.assunto}}
            </td>
            <td>
              {%if linha.respostas == 1 %}
                 Sim
              {% else %}
                 Não
              {%endif%}
            </td>
            <td>
              <!-- para usar emojis do emojipedia não precisamos import url. -->
              <a href="{{url_for('contatoinfodados',id=linha.id)}}" >&#x27A1;&#xFE0F;</a>
            </td>
          </tr>
          {% endfor %}
           <!-- <tr>
            <td>
              {#{context['dados'][0].nome}#}
            </td>
            <td>
              {#{context['dados'][0].email}#}
            </td>
            <td>
              {#{context['dados'][0].assunto}#}
            </td>
            <td>
              {#{context['dados'][0].respostas}#}
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    
  </div>
  <script src="{{url_for('static', filename='js/valida.js')}}"></script>
  <div>
    <img src="{{url_for('static', filename='img/porcher.png')}}" alt="">
  </div>
  {%endblock%}
  