 joao 21.15

 introduçao:

 O QUE FAZ AS PESSOAS NÃO TER CONSTANCIA EM ALGO QUE FAZ?

 CITAREI 3 MOTIVOS E FALAREMOS SOBRE ELES:

 1- QUERER RESULTADOS RAPIDOS;

 EX-MUITAS DAS VEZES NO DECORRER DO NOSSOS DIAS PRETENDDEMOS FAZER ALGO E NA MAIORIAS DELES ESPERAMOS QUE O RESULTADO ACONTEÇA DE IMEDIATO

 2-HOJE, AS PEASOAS ESTAO  DIVIDAS POR FAZER MAIS DE UMA COISA;

 EX- DECIMOS SEGUIR ALGUM CAMINHO NA NOSSA VIDA, INICIAMOS E LOGO PENSAMOS SERÁ ISTO MESMO QUE EU DEVO FAZER? CONSEQUENTEMENTE OPTAMOS POR FAZER A SEGUNDA OPÇAO CASO DER ERRADO.

 3- ESTILO DE VIDA QUE A SOCIEDADE IMPOEM PARA NÓS;

 EX- UMA LONGA CARGA HORARIA DE TRABALHO, A FALTA DE LOCOMOÇAO PARA EXECUTAR TALS PLANEJAMENTOS

 AGORA, VEREMOS ESTAS 3 COISA ACONTECENDO NA VIDA DE PEDRO

 1-QUERER RESULTADOS RAPIDOS--- MATEUS 16.21

 21. Desde então começou Jesus Cristo a mostrar aos seus discípulos que era necessário que ele fosse a Jerusalém, que padecesse muitas coisas dos anciãos, dos principais sacerdotes, e dos escribas, que fosse morto, e que ao terceiro dia ressuscitasse.
22. E Pedro, tomando-o à parte, começou a repreendê-lo, dizendo: Tenha Deus compaixão de ti, Senhor; isso de modo nenhum te acontecerá.
23. Ele, porém, voltando-se, disse a Pedro: Para trás de mim, Satanás, que me serves de escândalo; porque não estás pensando nas coisas que são de Deus, mas sim nas que são dos homens.

----APRENDEMOS AQUI, QUE QUANDO TOMAMOS DECISAO NO IMEDIATISMO(RAPIDA), SEM PENSAR, DAMOS LUGAR PARA SATANÁS. AS PALAVRAS DE PEDRO FORAM REPREENDIDAS POR Jesus

 EX---ENTAO, IRMAO QUE NUNCA VENHAMOS TOMAR DECISOES RAPIDA, AS VEZES ACONTECE ALGO EM NOSSA FAMILIA, E LOGO, PENSAMOS DEVO FAZER ISTO, QUANDO NA VERDADE DEVERIAMOS APENAS PERGUNTA O MOTIVO DE TAL COISA E ESPERA A RESPOSATA O QUE PEDRO NAO FEZ.

 2-HOJE, AS PEASOAS ESTAO  DIVIDAS POR FAZER MAIS DE UMA COISA--- JOAO 21.3

 "Vou pescar", disse-lhes Simão Pedro. E eles disseram: "Nós vamos com você". Eles foram e entraram no barco, mas naquela noite não pegaram nada.

 ----APRENDEMOS AQUI, QUANDO JESUS MORREU PEDRO VOLTOU A FAZER O QUE FAZIA ANTES, ISTO É A PROVA QUE PEDRO AINDA NAO TINHA DECIDO FOCAR 100% EM JESUS. 

 EM LUCAS Lucas 9:62---⁶² "Ninguém que põe a mão no arado e olha para trás é apto para o Reino de Deus". 

 ISTO significa que quem se dedica a uma tarefa ou a um propósito com determinação não deve se distrair com o passado ou com outros objetivos, mas sim focar no seu objetivo principal e seguir em frente

 EX---E, AGORA, FALO DE MIM, QUANTAS VEZES QUANDO DECIDIR FOCAR EM ESTUDAR, INUMERAS VEZES PENSEI, O QUE ESTOU FAZENDO AQUI, TENHO QUE TRABLAHAR PRECISO ADQUIRIR AS COISAS. ENTAO, QUE POSSAMOS TER APENAS UM OBHJETIVO.


  3- ESTILO DE VIDA QUE A SOCIEDADE IMPOEM PARA NÓS---MATEUS 26.14-26-27

  Quando o viram andando sobre o mar, ficaram aterrorizados e disseram: "É um fantasma!" E gritaram de medo.

27 Mas Jesus imediatamente lhes disse: "Coragem! Sou eu. Não tenham medo!"

---- O QUE APRENDEMOS AQUI, VOCE NÃO ENCONTRARÁ A BIBLA FALANDO SOBRE FALTASMA, OU SEJA, NAQUELA ÉPOCA AS PESSOAS ACREDITAVAM QUE EXISTIAM, TODAVIA, A BIBLA NUNCA RELATOU SOBRE. ENTAO, ENCONTRAMOS UM PEDRO INFLUENCIADO PELA SOCIEDADE, POIS, A BIBLIA DIZ  'ficaram aterrorizados e disseram: "É um fantasma!", LOGO, PEDRO ESTAVA NO MEIO, A BIBLA NÃO FEZ EXCESAO.

EX---E QUANTAS DAS VEZES PASSAMOS POR ISTO? NA ESCOLA, TRABALHO, NA RODA DE 'AMIGOS', AS PESSOAS QUEREM QUE SEGUIMOS A MODA, OU O ESTILO QUE A MAIORIA ESTAO VIVENDO, FESTA, BEBIDAS, PRAZERES DA CARNE, ISTO TUDO SAO FELICIDADES ILUSORIA, POIS, NO AMANHA CHEGA O ARREPENDIMENTO DE  MUITAS DESTA TOMADAS DE DECISÃO.

AGORA, FALAREMOS, SOBRE AS SOLUCOES PARA ESTA COISAS.

SOLUÇAO PARA O IMEDIATISMO(RESULTADOS RAPIDOS)---- ATOS 1.8

8-Mas receberão poder quando o Espírito Santo descer sobre vocês, e serão minhas testemunhas em Jerusalém, em toda a Judeia e Samaria, e até os confins da terra".

HORA, NESTA PASSAGEM NÃO VEJOS PEDRO, QUESTIONANDO O PORQUE DAS PALVARAS DE JESUS, ASSIM COMO EM MATEUS 16.21, QUANDO FOI REPREENDIDO. AQUI, PEDRO FICA CALADO E NOS PROXIMOS VERSICULOS, DIZ ASSIM:

Quando chegaram, subiram ao aposento onde estavam hospedados. Achavam-se presentes Pedro, João, Tiago e André; Filipe, Tomé, Bartolomeu e Mateus; Tiago, filho de Alfeu, Simão, o zelote, e Judas, filho de Tiago.

14Todos eles se reuniam sempre em oração, com as mulheres, inclusive Maria, a mãe de Jesus, e com os irmãos dele.

AGORA IRAMO, PEDRO INVES DE QUESTINAR, ELE ORA.

EX--- ENTAO, IRMAO, QUANDO DEUS DISSE QUE: ¹⁶ E eu rogarei ao Pai, e ele vos dará outro Consolador, para que fique convosco para sempre; 

João 14:16.

É PARA NOS CONSOLAR IRMAO.

EX---SE LEMOS A HISTORIA DE DAVI, ALGUNS VERSICULOS COMO  2 SAMUEL 2.1; 2 SAMUEL 5.19; 2 SAMUEL 5.23 ELES CONSULTOU A DEUS EM QUE FAZER E EM TODAS ESSAS VEZES DEU TROUXE VITORIA PARA ELE, MAS EM 2 SAMUEL 11.3 , A PRIMEIRA COPISA QUE ELE FEZ FOI PERGUNTAR SEU SERVO QUEM ERA ELA.

E A BIBLIA VAI DISSE EM 2 SAMUEL 12.10: 'AGORA, POIS NAO APARTARRA A ESPADA JAMAIS DA TUA CASA, PORQUANTO ME DESPRESASTE.'

VIMOS AS CONSEQUENCIAS DE ORAR E NAO ORAR.

então, todas as coisas que formos fazer, temos que orar, Deus sabe de todas as coisas, porém, ele que ouvir de SUA BOCA AS palavras, não fazendo isto demonstramos que  não somos  conStante nas decisões.



Solução para o que a sociedade impõe 

atos 4.1

1Enquanto Pedro e João falavam ao povo, chegaram os sacerdotes, o capitão da guarda do templo e os saduceus.

2Eles estavam muito perturbados porque os apóstolos estavam ensinando o povo e proclamando em Jesus a ressurreição dos mortos.

3Agarraram Pedro e João e, como já estava anoitecendo, os colocaram na prisão até o dia seguinte.

4Mas muitos dos que tinham ouvido a mensagem creram, chegando o número dos homens que creram a perto de cinco mil.

--- AQUI, ENCONTRAMOS UM PEDRO SEM DÚVIDA PARA SUA VIDA EM UM LUGAR ONDE PODERIA SER PRESO ATÉ MESMO MORTO, ELE NÃO DEIXOU DE PREGAR.
NAO OLHOU A SITUAÇÃO, PORÉM, DECIDIU FAZER O QUE JESUS NOS PEDIU 

EX- E NOS IRMÃO, TEM PREGADO, NA ESCOLA, TRABALHO, QUANDO ESTAMOS COM OS AMIGOS? PORQUE, HOJE NO BRASIL ISTO AINDA É LIVRE, E MUITAS DAS VEZES DEIXAMOS DE FAZER PARA NAO SERMOS AQUELE EXCLUIDO.

EX--- QUE LEMBRAMOS TAMBEM, DESTAS PALAVRAS EM  MATEUS 10.32-33

"Quem, pois, me confessar diante dos homens, eu também o confessarei diante do meu Pai que está nos céus.

33Mas aquele que me negar diante dos homens, eu também o negarei diante do meu Pai que está nos céus.


SOLUÇAO PARA DECISAO

 A PREGAÇAO DE PEDRO EM ATOS 2 QUASE 3 MIL ALMAS QUE ACEITARAM A PALAVRA E FORAM BATIZADODS; A CURA DO COXO ATOS 3; A CURA DE ENEIAS ATOS 9.32; A RESSURREICAO DE DORCAS ATOS 9.36.

 AGORA, POR PEDRO TER DECIDIDO SEGUIR JESUS SEM SEGUNDA OPÇAO, POR ONDE ELE PASSAVA COISAS MARAVILHAS ACONTECIAM, ISTO, REFLETE O CRENTE QUE TEM CONSTANCIA EM BUSCA JESUS, POR ONDE PSSAR AS PESSOAS VERAM O QUE DEUS TEM FEITO NA VIDA DE OUTRAS PESSOAS POR VOCE.


 -----CONCLUSAO------

 O QUE ACONTECEU NA VIDA DE PEDRO PARA ELE TORNA-SE UMA PESSOA CONTANTE?
 ELE SE SENTIU PERDOADO

 João 21:17

 Pela terceira vez, ele lhe disse: "Simão, filho de João, você me ama?"
Pedro ficou magoado por Jesus lhe ter perguntado pela terceira vez "Você me ama?" e lhe disse: "Senhor, tu sabes todas as coisas e sabes que te amo".
Disse-lhe Jesus: "Cuide das minhas ovelhas.

TOMOU A DECISAO DE FAZER O QUE DEUS QUERIA, PREGAR O EVANGELHO EM MEIO A VIDA E A MORTE, EM ATOS atos 4.1 
1Enquanto Pedro e João falavam ao povo, chegaram os sacerdotes, o capitão da guarda do templo e os saduceus.

SE VOCE TEM VONTADE DE FAZER, OU QUE FAZIA E DEIXOU DE FAZER POR ALGUM MOTIVO OU N MOTIVOS, SAIBA QUE PEDRO TEMBEM TINHA MOTIVOS PARA PARA, JESUS TAMBEM, PENSOU EM PARAR, MATEUS 26.39 "Meu Pai, se for possível, afasta de mim este cálice; contudo, não seja como eu quero, mas sim como tu queres"., E JÁ PENSOU SE JESUS TIVESSE PARADO IRMAO? COMO SERIA? EU COMENTEI ISTO COM NOSSO PARTO, EU, VOCE, ESTARIA AQUI, ESTARIAMOS VIVOS? MAS FORAM EXS DE PESSOAS QUE NAO PARARAM, NAO ANDARAM SEGUNDO A SUA VONTADE MAS A VONTADE DE DEUS, ENTAO, MUITAS DAS VEZES QUEREMOS QUE AS COISA ACONTECEM NA NOSSA VIDA MAS ESTAMOS FAZENDO NOSSAS VONTADE, VAMOS COMEÇA A PARTI DE HOJE, A FAZER O QUE DEUS QUER PARA NOS, E VOCE, VERAO  AS GRANDE COISAS QUE ACONTECERAM EM SUA VOLTA. E EU REFIRO A MILAGRES IRMAO ASIIM COMO PEDRO. GLORIA DEUS












